.app-wrapper {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  .app-container{
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 120px;
  }


  @media screen  and (max-width: 600px){
    width: 100%;
    .app-container{
      width: 90%;
      padding: 24px 0;
      margin: 0 auto;
      grid-gap: 16px;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
